
// Font
$default-font-size: 1.6rem; // 16px

$color-white: #fff;
$color-black: #000;
$color-red: #f00;

$color-primary-light: rgb(220, 227, 239);
$color-primary-dark: rgb(185, 205, 227);

$color-secondary-light: rgb(154, 180, 212);
$color-secondary-dark: rgb(112, 128, 152);

$color-tertiary: rgb(41, 128, 185);

$break-point-big: 1904px;
$break-point-medium: 1680px;
$break-point-small: 910px;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
